<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link rel="stylesheet" th:href="@{|/css/bootstrap.css|}" />
    <script type="text/javascript" th:src="@{|/js/jquery-1.12.4.js|}"></script>
    <script type="text/javascript" th:src="@{|/js/bootstrap.js|}" ></script>
</head>
<body>

<div class="container">
    <br> <br>
    <caption>
        <a th:href="@{|/showAddEmp|}" href="#" class="btn btn-success btn-lg">添加用户</a>
        <!--<input type="text" class="form-control" id="queryText" name="queryText" th:value="${sousuo}" placeholder="请输入查询的名字">
        <a th:href="@{|/sellike?queryText=${queryText}|}" class="btn btn-primary btn-sm">查询</a>-->
        搜索姓名（支持模糊查询）：
        <form id="form1" name="form1" method="post" action="/sellike">
            <input type="text" name="queryText">  ----》
            <input type="submit" name="button" id="button"
                   class="btn btn-primary btn-sm" value=" 搜索指定内容--》 " />

        </form>
    </caption>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>所属部门</th>
            <th>生日</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td>[[${employee.id}]]</td>
            <td>[[${employee.name}]]</td>
            <td>[[${employee.depId}]]</td>
            <td>[[${employee.birthday}]]</td>
            <td>
                <a th:href="@{|/selectByid?id=${employee.id}|}" class="btn btn-primary btn-sm">修改</a>
                <!--<a th:href="@{|/delete?id=${employee.id}|}" class="btn btn-danger btn-sm">删除</a>-->
                <a th:href="@{|javascript:if(confirm('你确定想删除吗？')){location.href='/delete?id=${employee.id}';}|}" class="btn btn-danger btn-sm">删除</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="text-center">
            <td colspan="6" class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <!--<li>
                            <a th:href="@{|/index?currPage=1|}" aria-label="Previous">
                                <span aria-hidden="true">首页</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{|/index?currPage=${currPage == 1 ? 1 : (currPage-1)}|}" aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>
                        &lt;!&ndash;<li th:each="(num:${pageLabelArr}">
                            <a th:href="@{|/index?currPage=${numStat.count}|}" th:text="${(currPage)-3}"></a>
                        </li>&ndash;&gt;
                        <li class="" th:classappend="${currPage ==i ? 'active': ''}"
                            th:each="i:${#numbers.sequence(currPage,totalPages)}"><a th:href="@{|/index?currPage=${i}|}" th:text="${i}">1</a></li>
                        <li>
                        <li>
                            <a th:href="@{|/index?currPage=${currPage == totalPage ? totalPage : (currPage+1)}|}" aria-label="Next">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{|/index?currPage=${totalPage}|}" aria-label="Next">
                                <span aria-hidden="true">尾页</span>
                            </a>
                        </li>-->
                        <li>
                            <a th:href="@{|/index?currPage=1|}" aria-label="Previous">
                                <span aria-hidden="true">首页</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{|/index?currPage=${currPage == 1 ? 1 : (currPage-1)}|}" aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>
                        <li th:each="num:${pageLabelArr}">
                            <a th:href="@{|/index?currPage=${numStat.count}|}" th:text="${numStat.count}"></a>
                        </li>
                        <li>
                            <a th:href="@{|/index?currPage=${currPage == totalPages ? totalPage : (currPage+1)}|}" aria-label="Next">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{|/index?currPage=${totalPages}|}" aria-label="Next">
                                <span aria-hidden="true">尾页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
</body>
</html>